* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    img {
      width: 600px;
    }
  }
}

.loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 300px !important;
        margin-bottom: 100px;
    }
}

.active{
    visibility: hidden;
}