* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background-color: #000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(112, 128, 144, 0.1);
  border-radius: 5px;
  padding: 1rem;

  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

input {
  outline: none;
  border-radius: 5px;
  width: 50px;
}
select {
  border-radius: 5px;
}
